html{
    font-size: 100%;
}

body{
    color: #2d2d2d;
    font-family: 'Crimson Text',serif;
}

img{
    width: 100%;
    vertical-align: bottom;
}

.main-visual{
    width: 90vw;
    margin: 0 auto 0 auto;
}

.main-visual img{
    margin-top:4%;
}

header{
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 0 auto 30px auto;
    padding: 32px 0;
}

.header-logo{
    width: 110px;
    line-height: 1px;
}

ul{
    display: flex;
    margin-left: 50px;
}

li{
    list-style: none;
    margin-right: 30px;
    font-size: 0.875rem;
    width: 200px;
}

li:last-child{
    margin-right: 0;
}

.inner{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;
}

.section{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.text{
    width: 50%;
    padding: 0 7%;
}

.text span{
    display: inline-block;
    margin-bottom: 25px;
}

.section-img{
    width: 50%;
}

.section-img img{
    border-radius: 10%;
    box-shadow: 10px 10px 3px #efefef;
}

.section-title{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

footer p{
    font-size: 0.875rem;
}
.footer-logo{
    width: 110px;
}

@media(max-width:767px){
    .section{
        flex-direction: column; 
    }

    .section-img{
        width: 100%;
        margin-bottom: 10px;
    }

    .section-title{
        font-size: 1.25rem;
    }  

    .main-visual{
        width: 100%;
        margin:0;
    }
    .main-visual img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }

    header{
        width: 100%;
        padding: 20px 18px;
    }

    .text{
        padding: 0 ;
        width: 100%;
    }

    #work {
        flex-direction: column-reverse;
    }
  }